#taller {
  background-color: #f4f5f3;
}

.taller {
  display: grid;
  grid-template-areas: ". .";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;

  @include modular-mq(sm) {
    grid-template-areas: "." ".";
    grid-template-columns: 1fr;
  }

  .title {
    filter: brightness(0.5);
    @include modular-mq(sm) {
      font-size: 42px;
    }
  }

  .image {
    background-image:  url('../media/img/ortiga-verde.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
  }

  .data {
    padding: 92px 24px;
    @include modular-mq(sm) {
      padding: 48px 24px;
    }
  }

}
