extends ../layout.pug
block title
  title
    | Vallgorguina Remeiera 2022
block content
  include ../sections/2022/hero
  include ../sections/2022/about
  include ../sections/2022/taller
  include ../sections/2022/galeria
  include ../sections/2022/download
