extends ../layout.pug
block title
  title
    | Vallgorguina Remeiera 2023
block script-head
  meta(property='og:title', content="Vallgorguina Remeiera 2023")
  meta(property='og:description', content="Jornades Vallgorguina Remeiera 2023")
  meta(name='description', content="Jornades Vallgorguina Remeiera 2023")
block content
  include ../sections/home/hero
