extends ../layout.pug
block title
  title
    | Vallgorguina Remeiera
block content
  include ../sections/home/hero
  include ../sections/home/about
  include ../sections/home/taller
  include ../sections/home/participa
  include ../sections/home/download
