section#download.mm-background-secondary
  .content
    .download
      p.title.mm-text-center.mm-text-size-xxl
        | Descarrega el programa
      p.description.mm-text-center.mm-text-size-s.mm-text-family-secondary
        | Pots descarregar el nostre programa per tenir tota l'informació guardada i si vols, ajudar-nos amb la difusió
      .action
        a(href="../media/img/2022/programa.png", target="_blank", title="descarga el programa").mm-button-primary.mm-text-size-l.mm-text-center
          | Fes click aquí per descarregar
