%fix {
  &:after {
    clear: both;
    content: "";
    display: table;
  }

  &:before {
    content: "";
    display: table;
  }
}

body {
  font-family: $font-family-primary;
  font-weight: 500;
}

.content {
  @extend %clearfix;
  margin: 0 auto;
  max-width: $content-width;
  position: relative;
  padding: 0 15px;

  @include modular-mq(sm) {
    padding: 0 48px;
  }

  @include modular-mq(ssm) {
    padding: 16px;
  }
}


a, a:visited, a:hover, a:active, a:focus {
  text-decoration: none;
  color: inherit;
}
