/* ======================================================================
	Footer
======================================================================== */
.footer-container {
  padding-top: 84px;

  @include modular-mq(sm) {
    padding-top: 54px;
  }

  .box {
    padding-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    .item {
      width: 220px;
      height: 220px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include modular-mq(md) {
        width: 140px;
        height: 140px;
      }
    }
  }

  .footer-colaborations {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 24px;

    @include modular-mq(md) {
      flex-direction: column;
    }
  }
}
