/* ======================================================================
	Footer
======================================================================== */
.footer-container {
  padding-top: 84px;

  @include modular-mq(sm) {
    padding-top: 54px;
  }

  .box {
    padding-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    .item {
      width: 220px;
    }
  }
}
