@import "../atoms/logo";
@import "../organism/menu";
.menu-header {
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  padding: 24px 56px;
  width: 100%;

  @include modular-mq(sm) {
    padding-right: 12px;
    padding-left: 12px;
  }
}
