doctype html
html(lang!=lang, page!=page)
  head
    block title
    include ./includers/head
    link(rel="stylesheet" href=`/css/${page}.min.css`)
    block scripts-head
  body(data-language!=lang).mm-background-brand
    include sections/header
    main
      block content
    include sections/footer
    script(src=`/js/${page}.js`)
    block scripts-footer
