section#about.mm-background-primary
  .content.about
    h3.title.mm-text-size-xxl.mm-text-light
      | Vallgorguina Remeiera
    p.mm-text-family-secondary
      | L’associació Caliu de Dolmen promotora d'activitats culturals a Vallgorguina va encetar fa temps uns cursos tallers de plantes remeieres desenvolupat per Susanna Arjalaguer
      | Amb un grup consolidat i noves incorporacions després de la pandemia es va plantejar fer unes jornades remeieres per crear sinergies culturals i promoure activitats relacionades amb el respecte per la natura.
    p.mm-text-family-secondary
      | Per això es proposa la realització de les primeres jornades del grup Vallgorguina Remeiera que tindrà lloc el proper 11 de Juny a la plaça de la vila de Vallgorguina.
      | Com l’objectiu és difondre a l’àmbit familiar les propietats de les herbes i plantes remeieres del nostre entorn es proposen un seguit de tallers de caire familiar.
    p.mm-text-family-secondary
      | La jornada està dedicada a l’ortiga com una de les plantes de referència de l’entron.
    p.mm-text-family-secondary
      | Es proposa la realització de 3 tallers simultánis pel matí i dos per la tarda amb una cloenda de xerrada divulgativa i un tast d’ortiga.
