section#hero.mm-background-black.mm-not-padding
  .content.hero.mm-flex.mm-flex-justify-center
    .box
      h3.date.mm-text-center.mm-text-white.mm-text-size-s.mm-text-family-secondary
        | 1A JORNADA - 11 JUNY 2022
      h1.title.mm-text-center.mm-text-white.mm-text-size-xxxxl.mm-text-bold
        | VALLGORGUINA
        p.mm-text-light
          | REMEIERA
      p.subtitle.mm-text-center.mm-text-white.mm-text-size-l.mm-text-family-secondary
        | L'Ortiga
      p.subtitle.mm-text-center.mm-text-white.mm-text-size-xl.mm-text-bold
        | TALLERS GRATUÏTS - XERRADA - EXPOSICIÓ
