section#participa.mm-background-primary
  .content
    .participa
      .box
        p.title.mm-text-bold.mm-text-size-bigest.mm-text-white.mm-text-family-secondary
          | 01
        p.mm-text-size-xl Inscriu-te!
        p.mm-text-size-s.mm-text-family-secondary Recorda que els tallers es farán de manera simultània per tant, pots pasar per tots. Tenim places limitades! Fes click 
          a.mm-text-bold.mm-text-size-l(href='https://docs.google.com/forms/d/e/1FAIpQLSdl_9yquRvd1k6-DXrSU1tSNu254jzgXlDZguQDO4OA7ekN9Q/viewform', target='_blank')
            | aquí
          |  i omple el formulari d'inscripció :)
      .box
        p.title.mm-text-bold.mm-text-size-bigest.mm-text-white.mm-text-family-secondary
          | 02
        p.mm-text-size-xl Troba'ns!
        p.mm-text-size-s.mm-text-family-secondary Els tallers es realitzaran a:
        p.mm-text-size-s.mm-text-family-secondary.mm-text-bold Plaça de la Vila, 4
        p.mm-text-size-s.mm-text-family-secondary Vallgorguina, 08471
        br
        p.mm-text-size-s.mm-text-family-secondary La xerrada i el tastet:
        p.mm-text-size-s.mm-text-family-secondary.mm-text-bold Museu del Bosc i la Pagesia
        p.mm-text-size-s.mm-text-family-secondary.mm-text-bold Carretera Nova, 36
        p.mm-text-size-s.mm-text-family-secondary Vallgorguina, 08471
          
