section#taller
  .content
    .taller
      .box
        p.title.mm-text-bold.mm-text-size-xxxl.mm-text-primary.mm-text-center
          | Exposició de fotografies
        p.mm-text-center.mm-text-size-l.mm-text-family-secondary Plantes medicinals de Vallgorguina
        p.mm-text-center.mm-text-size-m Endevina quines son?
        p.title.mm-text-bold.mm-text-size-xxxl.mm-text-primary.mm-text-center
          | TALLERS GRATUÏTS
        p.mm-text-center.mm-text-size-l.mm-text-family-secondary Sal d'herbes 
          span.mm-text-size-m  (Matí)
        p.mm-text-center.mm-text-size-l.mm-text-family-secondary Sabó Herbal
          span.mm-text-size-m  (Matí)
        p.mm-text-center.mm-text-size-l.mm-text-family-secondary Si ens "pica" L'Ortiga
          span.mm-text-size-m  (Matí)
        p.mm-text-center.mm-text-size-l.mm-text-family-secondary L'Ortiga ens cuida l'hort
          span.mm-text-size-m  (Tarda)
        p.mm-text-center.mm-text-size-l.mm-text-family-secondary Cuina: Creuixent amb flors
          span.mm-text-size-m  (Tarda)
        p.title.mm-text-bold.mm-text-size-xxxl.mm-text-primary.mm-text-center
          | Xerrada
        p.mm-text-center.mm-text-size-l.mm-text-family-secondary "L'ortiga amiga" +  Tastet Pica Pica
          span.mm-text-size-m  (18:30)
      .box
        .image
