footer.mm-text-secondary.mm-background-primary
  .content
    .footer-container
      p.mm-text-black.mm-text-size-xs.mm-text-family-secondary.mm-text-center
        | Si vols més informació pots escriure un email a vallgorguinaremeiera@gmail.com
      .box.logos
        .item
          img(src="../media/img/logo_ajuntament.png", alt="logo", width="220px")
        .item
          img(src="../media/img/logo_caliu_transp.png", alt="logo", width="220px")
