footer.mm-background-primary
  .content
    .footer-container
      p.mm-text-black.mm-text-size-xs.mm-text-family-secondary.mm-text-center
        | Si vols més informació pots escriure un email a vallgorguinaremeiera@gmail.com
      .footer-colaborations
        .item
          p.footer-title.mm-text-size-s.mm-text-center
            | Organització:
          .box.logos
            .item
              a(href='https://www.vallgorguina.cat/', target="_blank")
                img(src="../media/img/logo_ajuntament.png", alt="logo", width="220px")
            .item
              img(src="../media/img/logo_caliu_transp.png", alt="logo", width="220px")
        .item
          p.footer-title.mm-text-size-s.mm-text-center
            | Col·laboradors:
          .box.logos
            .item
              a(href='https://fitosinergia.com/', target="_blank")
                img(src="../media/img/logo_fitosinergia.png", alt="logo", width="120")
            .item
              a(href='https://www.jelly-brains.com/', target="_blank")
                img(src="../media/img/logo_jelly.png", alt="logo", width="180")
